{{>partial_header}}

namespace {{packageName}}.{{modelPackage}};

/// <summary>
///  Abstract base class for oneOf, anyOf schemas in the OpenAPI specification
/// </summary>
{{>visibility}} abstract partial class AbstractOpenAPISchema : BaseContract.AbstractOpenAPISchema
{
   
}
